@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .fixed-top .navbar-light .bg-dark{
    position: fixed;
    width:100%;
    z-index: 999;
    padding: 30px 0;
    /*background: black;*/
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    padding-bottom: 20px;
}
.navbar.sticky{
    padding: 15px 0;
    background: red;
}
.navbar .max-width{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color:#fff;
    font-size: 35px;
    font-weight: 600;

}
.navbar  a span{
    color: red;
}
.navbar.sticky  a span{
    color: #fff;
    transition: all 0.3s ease;

}
body{
    background:url(./tezos-vCf2vSYcFls-unsplash.jpg) no-repeat center;
}
.table table-bordered{
    color: #fff;
}
img{
    width: 50px;
    height: 50px;
}
P{
    color: #fff;
    font-style: italic;
    font-weight: 800;
}
div .move{
    margin-bottom: 50px;
}
a{
    text-decoration: none;
}
footer {
  
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
td{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}


/* comment section styling */
body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}
